<footer class="footer">

     <ul class="nav nav-pills nav-fill nav-justified">
       <li class="nav-item">
         <a class="nav-link" href="#contact">Contact</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#mentionslegales">Mentions Légales</a>
       </li>
     </ul>
     <footer>
         <div class="container-fluid">
             <div class="row copyright">
                 <div class="col-12 mb-0 text-center">
                    <img class="img-fluid" src="img/beer.svg"  >
                     <h4> © LES WIKINGS </h4>
                 </div>
             </div>
         </div>
         <!--/.Copyright-->

     </footer>


  </footer>
