<header>

<nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color:#fff800">
        <a class="navbar-brand">
          <img src="logo/eDual.png" width="30" height="30" alt="Logonavbar">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill w-100 align-items-center">
            <li class="nav-item active">
              <a class="nav-link" href="#">Mon profil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Les paris</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Règles du jeu</a>
            </li>
              <li>
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary my-2 my-sm-0 ml-auto" data-toggle="modal" data-target="#bookatable">Deconnexion
              </button>
            </li>
          </ul>
    </div>
</nav>

</header>
