<div class="container nextGames">
    <div class="row">
        <div class="col logoDiv"><img class="img-fluid gameLogo" src="/logo-jeux/cs.png" alt=""></div>
    </div>
    <div class="matches" href="#">
        <div class="col-12 nextGamesPos timeGame">samedi 14 avril - 14h00</div>
    <div class="row">
        <div class="col-5 nextGamesPos">Legacy Esports</div>
        <div class="col-2 nextGamesPos">VS</div>
        <div class="col-5 nextGamesPos">Tainted Minds</div>
    </div>
    </div>
    <div class="matches">
        <div class="col-12 nextGamesPos timeGame">samedi 14 avril - 20h00</div>
    <div class="row">
        <div class="col-5 nextGamesPos">Mousesports</div>
        <div class="col-2 nextGamesPos">VS</div>
        <div class="col-5 nextGamesPos">Valiance co</div>
    </div>
    </div>
    <div class="matches">
        <div class="col-12 nextGamesPos timeGame">dimanche 15 avril - 02h00</div>
    <div class="row">
        <div class="col-5 nextGamesPos">Faze Clan</div>
        <div class="col-2 nextGamesPos">VS</div>
        <div class="col-5 nextGamesPos">Team Envyus</div>
    </div>
    </div>
    <div class="matches">
        <div class="col-12 nextGamesPos timeGame">dimanche 15 avril - 12h00</div>
    <div class="row">
        <div class="col-5 nextGamesPos">Cloud9</div>
        <div class="col-2 nextGamesPos">VS</div>
        <div class="col-5 nextGamesPos">G2 Esports</div>
    </div>
    </div>
      <div class="matches">
        <div class="col-12 nextGamesPos timeGame">dimanche 15 avril - 20h30</div>
    <div class="row">
        <div class="col-5 nextGamesPos">SK Gaming</div>
        <div class="col-2 nextGamesPos">VS</div>
        <div class="col-5 nextGamesPos">Tyloo</div>
    </div>
    </div>
     
</div>