/*début caroussel*/


#carouselExampleControls {
  font-size: 2.5em;
}
.carousel-caption {
  bottom : 50px;
  top : 50px;
}
.mario_carousel {
  width : 300px;
}
.carousel-caption>.gift_carousel {
  width: 10%;
}
.carousel-caption>.mario_carousel {
  margin : 10px;
}
.textCarousel {
  font-size: 2em;
  margin : 3px;
}
.textCarousel1 {
  font-size: 2em;
  color: white;
}
.btn-warning {
  width: 200px;
  margin-right: 20px;
}
.textCarousel2 {
  font-size: 2em;
  margin-bottom: 60px;
}
.textCarousel3 {
  font-size: 2em;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  #carouselExampleControls {
    font-size : 1.5em;
  }
}
@media (max-width: 800px) {
  #carouselExampleControls {
    font-size: 0.8em;
  }
}
@media (max-width: 600px) {
  #carouselExampleControls {
    font-size: 0.4em;
  }
}
@media (max-width: 800px) {
  .img-fluid{
    max-width: 100%;
    height : 500px;
  }
}
@media (max-width: 600px) {
  .img-fluid{
    max-width: 100%;
    height : 400px;
  }
}
@media (max-width: 1200px) {
  .carousel-caption>.mario_carousel {
    width: 100px;
    margin-bottom: 5px;
  }
}
@media (max-width: 800px) {
  .carousel-caption>.mario_carousel {
    width: 150px;
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .carousel-caption>.mario_carousel {
    width: 150px;
    margin-bottom: 2px;
  }
}
@media (max-width: 1200px) {
  .btn-warning {
    font-size: 3em;
    width: 200px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-top: 0px;
  }
}
@media (max-width: 800px) {
  .btn-warning {
    font-size: 2em;
    width: 250px;
    height: 40Px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-top: 0px;
  }
}
@media (max-width: 600px) {
.btn-warning {
    font-size: 1.5em;
    font-weight: bold;
    width: 110px;
    height: 30Px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 5px;
    margin-top: 5px;
  }
}
@media (max-width: 1200px) {

  .textCarousel{
    font-size: 2.8em;
    margin-bottom: 10px;
  }
  .textCarousel2 {
    font-size: 2.8em;
  }
}
@media (max-width: 800px) {

  .textCarousel{
    font-size: 2em;
    margin-bottom: 5px;
  }
  .textCarousel2 {
    font-size: 2em;
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {

  .textCarousel{
    font-size: 1.8em;
    margin-bottom: 2px;
  }
  .textCarousel2 {
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}


@media (max-width: 1200px) {
  .textCarousel3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .textCarousel3 {
    font-size: 2.8em;
    padding-top: 60px;
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .textCarousel3 {
    font-size: 2.8em;
    padding-top: 60px;
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .carousel-caption {
    top: 50px;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    top: 40px;
  }
}

/*fin carousel */
