<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/home %>
</header>


    <% include ../partials/script %>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
