<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>
  <% include ../partials/carousel %>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
